<!DOCTYPE html>
<html>
  <head>
    <title>수신함</title>
  </head>
  <body>
    <a href="/main"><h1>GOAROSA</h1></a>
    <h2>수신함</h2>
    <p>
      <%= name %> <%= status %>
      <button type="button" onclick="location.href='/users/logout'">로그아웃</button>
    </p>
    <p>
      <button type="button" onclick="location.href='./inbox'">수신함</button>
      <button type="button" onclick="location.href='./outbox'">발신함</button>
      <button type="button" onclick="location.href='./send'">쪽지 보내기</button>
    </p>
    <p>
      <ol>
        <% if(mails){ %>
          <% mails.forEach(function(val){ %>
            <li>
              from.<%= val.from %> Title.<%= val.title %> Content.<%= val.content %> ID.<%= val._id %>
              <button id= <%= val._id %>>삭제</button>
            </li>
          <% }) %>
        <% } %>
      </ol>
    </p>
  </body>
</html>